* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: rgb(61, 178, 61);
    font-weight: bold;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.39);
}

#form {
    display: flex;
    height: 30px;
}

#form button {
    height: 30px;
    width: 30px;
    background-color: rgb(61, 178, 61);
}

#form img {
    width: 18px;
    height: auto;
}

#form input, #form button {
    border: none;
}

#form input {
    padding: 0 5px;
    background-color: rgb(184, 255, 184);
}

.container {
    background-color: #bddabd;
    padding: 20px;
    box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.143);
    border-radius: 20px;
    margin-top: 50px;
    display: none;
}
